{# Représente la base de la page d'un produit #}

<article class='detail_product'>

    {# <div class='one_product_img'>
        {% if product.images %}
            <img class="img_storage_page_get_all img_storage_page_get_all_2500 img_storage_page_get_one" src= "{{ asset('/uploads/images/' ~ product.images) }}" alt="" > 
        {% else %}
            <img class="img_storage_page_get_all img_storage_page_get_all_2500 img_storage_page_get_one" src= "{{ asset('/uploads/default/default.jpg') }}" alt="" > 
        {% endif %}
    </div> #}

    <div class='detail_product_text'>
        <p class=''>Nom : {{ product.title }}</p>
        <p class=''>Créé par : {{ product.user.lastName }} {{ product.user.firstName }}</p>

        {% block surchargeOne %}{% endblock surchargeOne %}

        {% if app.user %}
            <p class="detail_product_action">
                {% if product.user.id == app.user.id %}
                    <span>
                        <a href="{{ path('app_backend_product_update', { 'id' : product.id } ) }}" class="btn">Modifier</a>
                    </span>
                    <span>
                        <form method="POST" action="{{ path('app_backend_product_delete', { 'id' : product.id }) }}" class="middle" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet élément ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                            <button class='btn_delete'>Supprimer</button>
                        </form>
                    </span>
                {% else %}
                {% endif %}
            </p>
        {% endif %}
    </div>

    {% block surchargeTwo %}{% endblock surchargeTwo %}
</article>