{# Représente la base de la page d'un produit #}

<article class='detail_product_block'>
    <div class='detail_product_img'>
        {% if product.images is defined and product.images is not empty %}
            <img id="image_default" class="" src="/uploads/images/products/{{ product.images[0] }}" alt="{{ product.images[0] }}" > 
        
            <div class="horizontal-scroll-wrapper squares">
                {% for key, value in product.images %}
                    <img id="image_{{ key }}" class="" src="/uploads/images/products/{{ value }}" alt="{{ value }}" > 
                {% endfor %}
            </div>
        {% else %} 
            <img id="" class="" src="/uploads/images/test.png" alt="test.png">
        {% endif %}
    </div> 

    <div class='detail_product_text'>
        <h1>{{ product.title }} </h1>
        <p class=''>Créé par : {{ product.user.lastName }} {{ product.user.firstName }}</p>

        {% block surchargeOne %}{% endblock surchargeOne %}

        {% if app.user %}
            {% block surchargeTwo %}
                <div class="detail_product_action action">
                    {% if product.user.id == app.user.id %}
                        <span class='update'>
                            <a href="{{ path('app_backend_product_update', { 'id' : product.id } ) }}" class="btn">Modifier</a>
                        </span>
                        <span class='delete'>
                            <form method="POST" action="{{ path('app_backend_product_delete', { 'id' : product.id }) }}" class="middle" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet élément ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                <button class='btn_delete'>Supprimer</button>
                            </form>
                        </span>
                    {% else %}
                    {% endif %}
                </div>
            {% endblock surchargeTwo %}
        {% endif %}
        {% block surchargeThree %}{% endblock surchargeThree %}
    </div>
</article>