{{ form_start(formProduct, { 'attr' : { 'class' : 'form backend product_backend' }} ) }}
    <div class="container_form">
        {% include 'components/_base_form_product_body.html.twig' with {'formProduct': formProduct } %}

        {# 
            Nous pouvons rajouter des champs ici, ci besoin 
            à partir de la balise div.container_form_element
            comme l'exemple ci-dessous.
            On remplace new_props par le nom de la nouvelle propriété

            <div class="container_form_element">
                <div>
                    <label for="product_new_props" class="form_label">new_props</label>
                    {{ form_widget(formProduct.new_props, {attr : {class : 'form_input' }} ) }}
                </div>
                <small class="error_input_small">{{ form_errors(formProduct.new_props) }}</small>
            </div>
        #}

        <div class="container_form_element">
            <div>
                <label for="product_new_props" class="form_label">Test: minimum 1 caractère</label>
                {# {{ form_widget(formProduct.new_props, {attr : {class : 'form_input' }} ) }} #}
                <input
                    type="text"
                    id="new_props"
                    name="new_props"
                    required
                    minlength="1"
                    maxlength="8"
                    size="10" 
                />
            </div>
            <small class="error_input_small"></small>
        </div>

        {# Bouton par défaut qui peut être surcharger #}
        {% block formButton %}
            <button type="submit" class="btn">Valider</button>
        {% endblock formButton %}
    </div>
{{ form_end(formProduct) }}