{% extends 'general/base.html.twig' %}

{% block title %}Ajouter un Produits{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/components/pagination/index.css" rel="stylesheet" />
    <link href="/css/components/searchbar/index.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="/js/shared/table/table.js"></script>
{% endblock %}

{% block body %}
    <section class="container">
        <div class="container_add_search">
            <p class="add"><a href="{{ path('app_backend_product_create' ) }}">Ajouter un produit</a></p>

            {% include 'components/_searchbar.html.twig' with {
                formSearch: formSearch
            } only %}
        </div>

        {% if pagination is defined and pagination is not empty  %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Créé par</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in pagination %}
                        <tr>
                            <th scope="row">{{ product.id }}</th>
                            <td>
                                <a href="{{ path('app_backend_product_detail', { id: product.id }) }}">
                                    {{ product.title }}
                                </a>
                            </td>
                            <td>{{ product.user.firstName }} - {{ product.user.lastName }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.category.name }}</td>
                            <td>{{ product.createdAt | date('d/m/Y H:i') }}</td>
                            <td class="action">
                                <span class='update'>
                                    <a href="{{ path('app_backend_product_update', { id: product.id }) }}">Modifier</a>
                                </span>

                                <span class='delete'>
                                    <form method="POST" action="{{ path('app_backend_product_delete', { 'id' : product.id }) }}" class="middle" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette élément ?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                        <button class='btn_delete'>Supprimer</button>
                                    </form>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun produit n'est créée</p>
        {% endif %}

        {% if pagination is defined and pagination is not empty %}
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </section>
{% endblock %}
