<section class="section_detail_product">
    <section class="detail_product">
        {% embed 'components/_base_detail_product_card.html.twig' 
            with {'product': product } 
            only
        %}
            {# Surcharge d'autres éléments/propriétés  ci besoin #}
            {% block surchargeOne %}
                <p>Prix : {{ product.price}} €</p>
                <p>{{ product.description}}</p>
                <p>Catégorie : {{ product.category.name}}</p>
            {% endblock surchargeOne %}

            {# Surcharge d'autres éléments/propriétés  ci besoin #}
            {% block surchargeTwo %}
                <div class="detail_product_action action">
                    {% if product.user.id == app.user.id %}
                        <span class='update'>
                            <a href="{{ path('app_product_update', { 'id' : product.id } ) }}" class="btn">Modifier</a>
                        </span>
                        <span class='delete'>
                            <form method="POST" action="{{ path('app_product_delete', { 'id' : product.id }) }}" class="middle" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet élément ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                <button class='btn_delete'>Supprimer</button>
                            </form>
                        </span>
                    {% else %}
                    {% endif %}
                </div>
            {% endblock surchargeTwo %}

{# Surcharge d'autres éléments/propriétés  ci besoin #}
            {% block surchargeThree %}
                <div>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                    <p>2 achetés = 1 offert !!!</p>
                </div>
            {% endblock surchargeThree %}
        {% endembed %}
    </section>
</section>