{{ form_start(formUser, { 'attr' : { 'class' : 'form backend user_backend' }} ) }}
    <div class="container_form_element">
        <div>
            <label for="user_firstName" class="form_label">Prénom</label>
            {{ form_widget(formUser.firstName, {attr : {class : 'form_input' }} ) }}
        </div>
        <small class="error_input_small">{{ form_errors(formUser.firstName) }}</small>
    </div>

    <div class="container_form_element">
        <div>
            <label for="user_laststName" class="form_label">Nom</label>
            {{ form_widget(formUser.lastName, {attr : {class : 'form_input' }} ) }}
        </div>
        <small class="error_input_small">{{ form_errors(formUser.lastName) }}</small>
    </div>

    <div class="container_form_element">
        <div>
            <label for="user_email" class="form_label">E-mail</label>
            {{ form_widget(formUser.email, {attr : {class : 'form_input' }} ) }}
        </div>
        <small class="error_input_small">{{ form_errors(formUser.email) }}</small>
    </div>

    <div class="container_form_element">
        <div>
            <label for="user_password" class="form_label">Mot de passe</label>
            {{ form_widget(formUser.password, {attr : {class : 'form_input' }} ) }}
        </div>
        <small class="error_input_small">{{ form_errors(formUser.password) }}</small>
    </div>

    <div class="container_form_element">
        <div>
            <label for="user_phoneNumber" class="form_label">Téléphone</label>
            {{ form_widget(formUser.phoneNumber, {attr : {class : 'form_input' }} ) }}
        </div>
        <small class="error_input_small">{{ form_errors(formUser.phoneNumber) }}</small>
    </div>

    <div class="container_form_element">
        <div>
            <label for="user_isVerified" class="form_label">L'utilisateur est il vérifier ?</label>
            {{ form_widget(formUser.isVerified, {attr : {class : 'form_input' }} ) }}
        </div>
        <small class="error_input_small">{{ form_errors(formUser.isVerified) }}</small>
    </div>

    <button type="submit" class="btn">Valider</button>
{{ form_end(formUser) }}