{{ form_start(formUser, { 'attr' : { 'class' : 'form backend user_backend' }} ) }}

    <div class="container_form_block">
        {% include 'components/_base_form_user_body.html.twig' with {'formUser': formUser } %}

        {# 
            Nous pouvons rajouter des champs ici, ci besoin 
            à partir de la balise div.container_form_element
            comme l'exemple ci-dessous.
            On remplace new_props par le nom de la nouvelle propriété

            <div class="container_form_element">
                <div>
                    <label for="user_new_props" class="form_label">new_props</label>
                    {{ form_widget(formUser.new_props, {attr : {class : 'form_input' }} ) }}
                </div>
                <small class="error_input_small">{{ form_errors(formUser.new_props) }}</small>
            </div>
        #}

        <div class="container_form_element">
            <div>
                <label for="user_gender" class="form_label">Genre</label>
                {{ form_widget(formUser.gender, {attr : {class : 'form_input' }} ) }}
            </div>
            <small class="error_input_small">{{ form_errors(formUser.gender) }}</small>
        </div>

        <div class="container_form_element">
            <div id="container_user_situation">
                <label for="user_situation" class="form_label">Situation familiale</label>
                {{ form_widget(formUser.situation, {attr : {class : 'form_input' }} ) }}
            </div>
            <small class="error_input_small">{{ form_errors(formUser.situation) }}</small>
        </div>

        <div class="container_form_element">
            <div id="container_user_professional">
                <label for="user_professional" class="form_label">Situation professionnel</label>
                {{ form_widget(formUser.professional, {attr : {class : 'form_input' }} ) }}
            </div>
            <small class="error_input_small">{{ form_errors(formUser.professional) }}</small>
        </div>

        {% if formUser.typeOfContract is defined %}
            <div class="container_form_element">
                <div id="container_user_typeOfContract">
                    <label for="user_typeOfContract" class="form_label">Type de contrat</label>
                    {{ form_widget(formUser.typeOfContract, {attr : {class : 'form_input' }} ) }}
                </div>
                <small class="error_input_small">{{ form_errors(formUser.typeOfContract) }}</small>
            </div>
          {% else %}
            <div class="container_form_element">
                <div id="container_user_typeOfContract"></div>
            </div>
        {% endif %}

        {# Bouton par défaut qui peut être surcharger #}
        {% block formButton %}
            <button type="submit" class="btn">Valider</button>
        {% endblock formButton %}
    </div>
{{ form_end(formUser) }}